<header>
	<div class="navbar-header">	
		<nav class="navbar navbar-fixed-top navbar-inverse">
			<a class="navbar-brand" href="#">Sample App</a>	
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home", '../#' %></li>
				<li><a href="help">Help</a></li>
				<li><%= link_to "Contact",'#' %></li>
      			<li><a href="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      			<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    		</ul>
		</nav>
	</div>
</header>